{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 1000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": ["python", "/workspace/run_sdxl.py"],
        "EnvironmentVariables": [
          "LILYPAD_INPUT_FILE=/tmp/lilypad_input.json"
        ],
        "Image": "noryev/sdxl-lightweight-ipfs:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1"
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "Inputs": [
        {
          "Name": "lilypad_input",
          "StorageSource": "Inline",
          "Path": "/tmp/lilypad_input.json",
          "Content": "{{ if .prompt }}{ \"PROMPT\": \"{{ .prompt }}\" }{{ else }}{ \"PROMPT\": \"A spaceship parked on a lilypad\" }{{ end }}"
        }
      ],
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
  }
}