{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 1000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "EnvironmentVariables": [
          {{ if .ipfs }}"IPFS={{ .ipfs }}"{{else}}"IPFS=ipfs"{{ end }},
          {{ if .prompt }}"PROMPT={{ .prompt }}"{{else}}"PROMPT=A beautiful landscape with mountains and a lake"{{ end }}
        ],
        "Image": "noryev/sdxl-lightweight-ipfs:latest",
        "Entrypoint": ["/usr/local/bin/start.sh"]
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1"
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
  }
}